@mixin triangle($direction, $width, $height, $color) {
  width: 0;
  height: 0;
  border-style: solid;
  
  @if $direction == left {
    border-width: ($height/2) $width ($height/2) 0;
    border-color: transparent $color transparent transparent;
    
  } @else if $direction == right {
    border-width: ($height/2) 0 ($height/2) $width;
    border-color: transparent transparent transparent $color;
  }
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

@mixin flex-width($width) {
  -ms-flex: 0 0 $width;
  flex: 0 0 $width;
  max-width: $width;
}

@mixin abs-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin abs-center-y {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin circle($width, $height, $color) {
  width: $width;
  height: $height;
  background-color: $color;
  border-radius: 50%;
}